.type-box {
    padding: 5px 10px;
    border-radius: $border-radius;
    text-transform: uppercase;
    font-size: rem(14);
    font-weight: 600;
    color: $black-1;
    margin-bottom: 10px;

    @include md {
      padding: 10px 20px;
      font-size: rem(18);
    }
}