.pokemon-info {
  width: 100%;

  @include xxl {
    max-width: 528px;
  }

  &__pokemon-id {
    z-index: 1;
    position: absolute;
    top: 100px;
    left: 50%;
    font-size: rem(120);
    color: $black-1;
    opacity: 0.3;
    transform: translateX(-50%);

    @include xl {
      top: 130px;
    }

    @include xxl {
      top: 205px;
      transform: translateX(10px);
      font-size: 16rem;
    }
  }
}
