.pokedex-cards {
  padding: 160px 0;

  &__cards-list {
    display: grid;
    justify-items: center;
    grid-row-gap: 170px;

    @include md {
        grid-template-columns: 2fr 2fr;
    }

    @include lg {
        grid-template-columns: 1fr 1fr 1fr;
    }
 
    @include xl {
        align-items: end;
        align-items: center;
    }
  }

  &__card-item {
    padding: 0 10px;
    width: 100%;
    display: flex;
    justify-content: center;


    &:last-child {
        margin-bottom: 0;
    }
  }

}
