@import './pokemon_detail_image/pokemon_detail_image';
@import './pokemon_evolution/pokemon_evolution';

.pokemon-detail {
  background-color: $yellow;
  padding: 320px 0;
  overflow: hidden;

  @include xl {
    padding: 380px 0;
  }

  @include xxl {
    padding: 220px 0;
  }


  &__container {
    padding: 0;
    justify-content: center;
    @include xxl {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 15px;
    }
  }

  &__col {
    width: 100%;
    margin-bottom: 30px;
  }
}
