//colors
$body-color: #F6F8FC; 
$black-1: #444444;
$black-2: #787D83;
$grey: #787D83;

$yellow: #FED601;
$red-1: #FF5350;
$red-2: #E76D63;
$blue: #8FAEFF;
$steel: #AEB0CB;
$green: #A8F087;
$brown: #FFCD83;
$orange: #FE9951;

//fonts
$rubik: 'Rubik', sans-serif;

