//colors
$body-color: #F6F8FC; 
$black-1: #444444;
$black-2: #787D83;
$grey-1: #787D83;
$grey-2: #CACAD3;

$yellow: #FFDF34;
$red-1: #FF5350;
$red-2: #E76D63;
$blue: #8FAEFF;
$steel: #AEB0CB;
$green: #A8F087;
$brown: #FFCD83;
$orange: #FE9951;

//fonts
$rubik: 'Rubik', sans-serif;

//shadow
$shadow: 0px 4px 23px rgba(68, 68, 68, 0.18);
$shadow-red: 3px 1px 15px 1px #FF5350;

//border-radius
$border-radius: 15px;
$border-radius-small : 8px;
